.detail1, .detail2, .detail3, .detail4, .detail5, .detail6 {
    display: none;
}

/* general styling for all the hovers */
.hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hover img {
    display: block;
    position: relative;
  }
  
  .hover h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hover button.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    border-radius: 0px;
    background-color: transparent;
  }
  
  .hover button.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  /* styling to remove box shadow and border from buttons for last few effects */
  
  .hover button.nullbutton {
    border: none;
    padding: 0px;
    margin: 0px;
  }
  
  .hover button.nullbutton:hover {
    box-shadow: none;
  }
  
  /* remove the blue line that shows on modal buttons after you have open and close a modal */
  
  .modal-open .modal, button:focus {
      outline:none!important
  }
  
  /* styling so when hovering over a div that opens a modal the cursor changes to a pointer */
  .point {
  cursor: pointer;
  }

  /* effect hover 10 */

.ehover10 img {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.ehover10:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.ehover10 .overlay {
    visibility: hidden;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.ehover10 button.info
 {
	float: left;
	margin: 0px;
	text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);

}

.ehover10 p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.ehover10:hover p.icon-links a:hover,
.ehover10:hover p.icon-links a:focus {
	color: #252d31;
}

.ehover10 button,
.ehover10 p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.ehover10 p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ehover10 button {
	display: inline-block;
}


.ehover10:hover .overlay,
.ehover10:hover button,
.ehover10:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  visibility: visible;
}

.ehover10:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.ehover10:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.ehover10:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.ehover10:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
