@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
html {
    scroll-behavior: smooth;
}
body {
	overflow: hidden;
	margin: 0;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #191919;
    letter-spacing: 2px;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #93a9c0, #9fb6c7, #acc2ce, #bcced6, #ccdade, #ccdade, #ccdade, #ccdade, #bcced6, #acc2ce, #9fb6c7, #93a9c0);
}
a {
    color: #191919 !important;
}
section {
    height: 100vh;
    overflow: hidden;
}
/* -----------Page 1----------- */
.page1 .green-circle, .page2 .green-circle {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 160px;
    bottom: 210px;
    background-color: #103B3F;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
    z-index: -2;
}
.page1 .blur-circle, .page2 .blur-circle {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 280px;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(8px);  */
    border-radius: 50%;
    z-index: 3;
}
.page1 .photo {
    width: 550px;
    height: 550px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    filter: drop-shadow(0px 0px 20px rgba(16, 57, 61, 0.5));
    z-index: 2;
}
.page1 h1, .page2 h1 {
    font-size: 270px;
    font-weight: bold;
    letter-spacing: 50px;
    color: #ddd;
    opacity: 0.2;    
    position: relative;
    top: -25px;
    margin: 0;
    left: 30px;
    z-index: -1;
}
.page1 .text-area {
    position: absolute;
    width: auto;
    height: auto;
    top: 25vh;
    left: 140px;
    z-index: 3;
    color: #0a2629e5;
    font-weight: 400;
}
.text-area h2 {
    font-size: 45px;
    margin: 0px;
}
.text-area h3 {
    font-size: 26px;
    margin: 0;
    color: #061618c9;
}
.text-area h6 {
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
    color: #061618c9;
}
.text-area a {
    text-decoration: none;
}
.text-area .section {
    width: 250px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
}

/* -----------Page 2----------- */
.page2 .green-circle {
    top: initial;
    bottom: -100px;
    left: initial;
    right: -60px;
    width: 200px;
    height: 200px;
}
.page2 .blur-circle{
    width: 120px;
    height: 120px;
    right: 100px;
    bottom: -110px;
}
.page2 h1 {
    display: inline;
    font-size: 200px;
    letter-spacing: 10px;
    color: #ddd;
    top: 100px;
    left: initial;
    right: 0;
    opacity: 0.15;   
    text-align: center;
}
.menu-section {
    float: left;
    left: -80px;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    z-index: 10;
}
.menu-section .section{
    position: relative;
    display: block;
    padding-bottom: 20px;
}
.menu-section nav {
    width: auto;
    padding: 0;
}
.menu-section .number h3 {
    color: #103b3f1a;
    letter-spacing: 0px;
    transition: all 0.2s ease-in;
    margin: 0;
}
.menu-section nav .title {
    transition: all 0.2s ease-in;
    color: #103b3f2d;
    margin-top: -10px;
}
.menu-section .section:hover h3 {
    color: #103b3f94;
}
.menu-section .active-number h3, 
.menu-section nav .active-title,
.menu-section .section:hover .active-number h3,
.menu-section .section:hover nav .title {
    color: #103B3F;
}
.menu-section nav > ul {
    background: rgba(255, 255, 255, 0);
    width: 35px;
    height: 35px;
}
.menu-section .section:hover nav > ul,
.menu-section nav > .active-ul {
    background: rgba(255, 255, 255, 0.2);
}

.page2 .text-area {
    position: relative;
    margin-top: 5vh;
    left: 150px;
    z-index: 10;
}
.page2 .text-area p {
    line-height: 1.6em;
    width: 75%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.page2 .text-area h2 {
    color: #444;
    font-size: 28px;
    margin-bottom: 20px;
}
.page2 .text-area h2 span {
    font-size: 43px;
    color: #fdefef;
    text-shadow: 0px 0px 10px #103b3f4d;
}
.page2 .text-area h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 45px 0 0 0;
}
.services-container {
    position: relative;
    float: left;
	color: #444;
	font-size: 1em;
	line-height: 1.625;
    width: 425px;
    height: 40vh;
    left: 150px;
}
.services-container .wrap {
	max-width: 600px;
	width: 100%;
}
.services-container h2 {
    position: relative;
	text-align: initial;
    font-size: 23px;
	margin: 30px 0px 20px 0px;
}
.services-container #filters li {
    cursor: pointer;
}
.services-container #filters li:hover span {
    color: #103b3f;
}
.services-container #filters li span.active {
	background: #e9e9e9;
}
.services-container ul.active li {
    display: block;
}
.services-container ul.drop-menu li {
	margin-left: 20px;
	width: 100%;
    cursor: default;
}
.services-container ul.drop-menu li:hover {
    font-weight: 600;
}
.services-container ul.drop-menu {
    position: relative;
    top: 15px;
    left: 0;
}
 .cv-container {
     position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 0;
	 height: 20vh;
     width: 20vw;
     left: 330px;
     top: -40px;
     z-index: 10;
}
button.download-CV {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
     width: 14rem;
	 height: auto;
}
 button.download-CV .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 2.7rem;
	 height:2.7rem;
	 background: #4a767a;
	 border-radius: 1.625rem;
}
 button.download-CV .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.download-CV .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.11rem;
	 background: none;
}
 button.download-CV .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #eee;
	 border-right: 0.125rem solid #eee;
	 transform: rotate(45deg);
}
 button.download-CV .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 2rem;
	 color: #103B3F;
     font-size: 16px;
	 font-weight: 500;
     letter-spacing: 2px;
	 line-height: 1.4;
	 text-align: center;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #eee;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #eee;
    font-size: 15px;
}
 

/* -----------Page 3----------- */

.portfolio-container *, 
.portfolio-container *:before,
.portfolio-container *:after {
	 box-sizing: inherit;
}
.portfolio-container {
	color: #444;
	font-size: 1em;
	line-height: 1.625;
    height: 100vh;
    margin-left: 180px;
}
.portfolio-container img {
	max-width: 100%;
	height: auto;
}
.portfolio-container .wrap {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
}
.portfolio-container h2 {
    font-size: 26px;
	text-align: center;
	margin: 30px 0 20px 0;
}
.gallery-wrap, #gallery {
	overflow: hidden;
}
#filters {
	margin: 0 0 1.5% 0 ;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
#filters li {
	float: left;
}
#filters li span {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: #666;
	cursor: pointer;
	text-transform: uppercase;
	transition: all ease-in-out 0.25s;
}
#filters li:hover span {
	color: #000;
}
 #filters li span.active {
	background: #ddd;
}
.gallery-item {
	float: none;
	width: 30%;
	padding: 8px;
	position: relative;
	z-index: 10;
	display: none;
}
.inside {
    position: relative;
	overflow: hidden;
    width: 100%;
	height: 100%; 
    border: 1px solid rgba(16, 59, 63, 0.281);
}
.details, .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
}
.details {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}
.details h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 10px;
}
.details h6 {
	color: #dddddd;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	margin: 15px 0;
}
.details p {
	color: #000;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	margin: 10px 40px;
    padding: 5px 0px;
    background-color: #cdfbffb0;
	/* text-transform: uppercase; */
}
.inside img {
	float: left;
	width: 100%;
}
.overlay {
	background: rgba(16, 59, 63, 0.8);
	z-index: 1;
	transition: all 0.7s ease-in-out;
}
.gallery-item:hover .details, .gallery-item:hover .overlay {
	opacity: 1;
}
 @media (max-width: 30em) {
	 .wrap {
		 padding-left: 1em;
		 padding-right: 1em;
	}
	 .gallery-item {
		 float: none;
		 width: 100%;
	}
}
 
/* -----------Page 4----------- */
.contact-container {
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	width: 70vw;
	height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
}
.contact-container h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.form-container {
	display: flex;
}
.right-container {
	display: flex;
	flex: 1;
	height: auto;
	justify-content: center;
	/* align-items: center; */
    padding-top: 50px;
}
.right-container .form-title {
    color: #2c2c2c;
	font-size: 0.9rem;
    text-align: center;
    margin-bottom: 30px;
}
.right-container p {
    color: #103B3F;
	font-size: 12px;
}
.left-container {
	display: flex;
	flex: 1;
	height: auto;
	justify-content: center;
	/* align-items: center; */
	color: #2c2c2c;
    padding-top: 30px;
}
.left-container h2 {
    margin-bottom: 40px;
    line-height: normal;
}
.left-container p {
	font-size: 0.9rem;
}
.right-inner-container {
	width: 70%;
	height: 80%;
	text-align: center;
}
.left-inner-container {
	height: 50%;
	width: 80%;
	text-align: center;
	line-height: 22px;
}
input, textarea {
	background-color: #e9e9e9;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-size: 0.8rem;
    transition: all 0.2s ease-in;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
input::placeholder, textarea::placeholder {
    letter-spacing: 1px;
}
input:hover , textarea:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}
/* .box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} */
/* .box-shadow:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */
input:focus, textarea:focus {
	outline: 1px solid rgba(220, 238, 240, 0.999);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}
.right-inner-container button {
	border: 1px solid #103B3F;
	background-color: rgba(234, 253, 255, 0.1);
	color: #103B3F;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 40px;
	letter-spacing: 1px;
	transition: all 0.3s ease-in;
	cursor: pointer;
    margin-top: 10px;
}
.right-inner-container button:hover {
	background-color: #103B3F;
	color: #fff;
}
hr {
    border: 1px solid #103b3f25;
    width: 40%;
    margin-top: 40px;
}
.address-container, .social-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.address-container {
    display: block;
    text-align: left;
}
.address .icon, .phone .icon, .mail .icon {
    float: left;
    color: rgba(16, 59, 63, 0.863);
    font-size: 18px;
    margin-right: 25px;
    margin-left: 30px;
}
.address, .phone, .mail {
    display: block;
    margin: 20px 30px;
}
.social-container .combo {
      margin: 15px;
      height: 37px;
      width: 37px;
      line-height: 37px;
      border-radius: 50%;
}
.combo .circle {
    color: rgba(16, 59, 63, 0.863);
    transition: all 0.2s ease-in;
    font-size: 37px;
}
.combo .icon {
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-left: 1px;
    transition: all 0.3s ease-in;
}
.combo:hover .icon {
    color:rgba(16, 59, 63, 0.925);
}
.combo:hover .circle {
    color: #e9e9e9;
}


 @media only screen and (max-width: 600px) {
	 .left-container {
		 display: none;
	}
	 .lg-view {
		 display: none;
	}
}
 @media only screen and (min-width: 600px) {
	 .sm-view {
		 display: none;
	}
}
 form p {
	 text-align: left;
}
 

 

  /* Begin Media Queries*/
  /* @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  } */
  
  /* @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  } */
  
  /* @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  } */



/* Medium devices (large tablets, 1024px and down) */
/* @media only screen and (max-width: 1024px) {
} */
/* Small devices (portrait tablets and large phones, 768 and down) */
/* @media only screen and (max-width: 768px) {
} */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */
/* @media (min-height: 736px) and (max-width: 768px) { 
} */
/* Extra small devices (phones, 320px and down) */
/* @media only screen and (max-width: 320px) {
} */
/* Extra small devices (phones, 280px and down) */
/* @media only screen and (max-width: 280px) {
} */
.mobile { 
    display: none;
}
@media only screen and (max-width: 768px) {
    #item1, #item2, #item3, #item4 {
        display: none;
    }
    .mobile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: block;
    }
    .mobile h4 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin-top: 25vh;
    }
}
@media (min-height: 1366px) and (max-width: 1024px) {
    #item1, #item2, #item3, #item4 {
        display: none;
    }
    .mobile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: block;
    }
    .mobile h4 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin-top: 25vh;
    }
}



/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Animation onLoad */
/* .animation {
    animation: 1s 1 alternate slideUp;
}
@keyframes slideUp {
    from { opacity: 0; margin-left:-100px; }
    to { opacity: 1; margin-left:0px; }
}  */



/* 
li[class*="circle"]:hover {
    box-shadow: 0 0 8px #ffdf00;
} */

/* -------------------------------- Animations --------------------------------  */
/* div[class*="slideinPhoto"] {
    animation: 1.5s 1 alternate slideinPhoto;
}
@keyframes slideinPhoto {
    from { opacity: 0; margin-left: 100px; }
    to { opacity: 0.2; margin-left: 0px; }
}  */