html, body {
    margin: 0;
    padding: 0;
}
body, main {
    overflow: hidden;
}
main {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.container1 {
    /* display: none; */
    position: absolute;
    height: 665px;
    width: 100%;
    z-index: 1;
}
.logo {
    position: fixed;
    top: 30px;
    left: 70px;
    z-index: 1000;
}
.logo img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}
.logo img:hover {
    box-shadow: 0px 0px 15px #daa520;
    cursor: pointer;
}
.menuIcon {
    position: fixed;
    top: 30px;
    right: 45px;
    z-index: 1000;
}
.menuIcon img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}
.menuIcon img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px #daa520;
}
.menu {
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 55px;
    top: 234px;
    transition: all 0.5s;
    z-index: 1000;
}
.menu ul {
    list-style-type: none;
    padding-left: 0;
}
.menu ul li {
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 18px;
    font-size: 12px;
    padding: 6px;
    padding-left: 9px;
    letter-spacing: 2px;
    background-color: #1a1919;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.menu ul li:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px #daa520;
    background-color: #000000;
}
.show {
    opacity: 1; 
    width: 185px;
    height: 202px;   
    right: 43px;
}
.textContainer {
    position: relative;
    top: 240px;
    left: 70px;
    float: left;
    word-spacing: 6px;
    letter-spacing: 6px;
    z-index: 4;
}
.line {
    width: 60px;
    height: 1px;
    background-color: #f8b712;
    float: left;
    margin-right: 10px;
    margin-top: 11px;
    box-shadow: 0px 0px 15px #daa520;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.hello {
    position: relative;
    left: -70px;
}
.hello h2, .textAboutMe h3 {
    font-size: 22px;
    font-weight: normal;
    word-spacing: -3px;
    letter-spacing: 2px;
}
.intreducton h1 {
    font-size: 42px;
    margin: 23px 0px;
}
.intreducton h6, .textAboutMe h6 {
    font-size: 14px;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 0;
}
.goldenText {
    color: #f8b712;
}
.explore {
    float: left;
    margin-top: 2px;
    width: 200px;
    position: relative;
}
.move {
    animation-name: move;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%   {left:0px;}
    50%  {left:30px;}
    100%  {left:0px;}
}
.explore:hover, .myWork:hover, .codingChallenge:hover, .contact:hover, .back_to_top:hover  {
    cursor: pointer;
}
.explore h4, .myWork h4, .codingChallenge h4, .contact h4, .back_to_top h4 {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 10px;
    color: #f8b712;
}
div[class*="long"] {
    width: 70px;
    height: 1px;
    margin-right: 0;
    margin-left: 20px;
    border-radius: 0%;
}
div[class*="down"] {
    width: 1px;
    height: 830px;
    margin-right: 0;
}
.frame {
    position: relative;
    top: 68px;
    width: 325px;
    height: 535px;
    margin: 0 auto;
    border: 4px solid #f8b712;
    box-shadow: 0px 0px 15px #daa520;
    z-index: 2;
}
.frame2 {
    position: relative;
    top: 210px;
    left: -40px;
    width: 90px;
    height: 140px;
    line-height: 89px;
    background-color: #000000;
    z-index: 3;
    box-shadow: 0px 0px 15px 15px #000000;
}
.photo {
    display: block;
    position: fixed;
    left: 45vw;
    top: 0px;
    z-index: 1;
}
.photo img {
    width: 600px;
    height: 665px;
}
.pages ul {
    list-style-type: none;
    padding-left: 0;
    position: fixed;
    top: 240px;
    right: 50px;
    z-index: 1010;
}
li[class*="cercle"] {
    width: 12px;
    height: 12px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid #f8b712;
    z-index: 1000;
}
li[class*="cercle"] div {
    width: 4px;
    height: 4px;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 50%;
    border: 2px solid #f8b712;
    background-color: #f8b712;
}
li[class*="cercle"]:hover {
    box-shadow: 0px 0px 15px 2px#daa520;
    cursor: pointer;
}
/* -------------------------------- Animations --------------------------------  */
div[class*="slideinPhoto"] {
    animation: 1.5s 1 alternate slideinPhoto;
}
@keyframes slideinPhoto {
    from { opacity: 0; margin-left: 100px; }
    to { opacity: 1; margin-left: 0px; }
}
div[class*="slideoutPhoto"] {
    animation: 2s 1 alternate slideoutPhoto;
}
@keyframes slideoutPhoto {
    from { opacity: 1; margin-left: 0px; }
    to { opacity: 0; margin-left: -1190px; }
}
/*----*/
div[class*="slideinLeft"] {
    animation: 1s 1 alternate slideinLeft;
}
@keyframes slideinLeft {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1;  transform: translateX(0px); }
}
/*----*/
div[class*="zoomIn"] {
    animation: 1s 1 alternate zoomIn;
}
@keyframes zoomIn {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1);}
}
/*--P1-P2------P3-P4--*/
div[class*="slideOutTop"] {
    animation: 2s 1 alternate slideOutTop;
}
@keyframes slideOutTop {
    from { opacity: 1; transform: translateY(0px); }
    to { opacity: 0; transform: translateY(-665px); }
}
div[class*="slideInUp"] {
    animation: 2s 1 alternate slideInUp;
}
@keyframes slideInUp {
    from { opacity: 0; transform: translateY(665px); }
    to { opacity: 1; transform: translateY(0px);}
}
div[class*="slideUp665"] {
    animation: 2s 1 alternate slideUp665;
}
@keyframes slideUp665 {
    from { opacity: 0; transform: translateY(665px); }
    to { opacity: 1; transform: translateY(0px);}
}
/*--P2-P3--*/
div[class*="slideOutLeft"] {
    animation: 2s 1 alternate slideOutLeft;
}
@keyframes slideOutLeft {
    from { opacity: 1; transform: translateX(0px) }
    to { opacity: 0; transform: translateX(-1090px) }
}
div[class*="slideinright"] {
    animation: 2s 1 alternate slideinright;
}
@keyframes slideinright {
    from { opacity: 0; transform: translateX(1090px) }
    to { opacity: 1; transform: translateX(0px) }
}
/*--P4-P5--*/
div[class*="slideOutRight"] {
    animation: 2s 1 alternate slideOutRight;
}
@keyframes slideOutRight {
    from { opacity: 1; transform: translateX(0px) }
    to { opacity: 0; transform: translateX(1290px) }
}
div[class*="slideleft"] {
    animation: 2s 1 alternate slideleft;
}
@keyframes slideleft {
    from { opacity: 0; transform: translateX(-1290px) }
    to { opacity: 1; transform: translateX(0px) }
}
/*----*/
div[class*="2500"] {
    animation-duration: 2.5s;
}
/* ----------------------------------------------------------------------------- */
.container2 {
    position: absolute;
    left: 360px;
    top: 22px;
    height: 665px;
    z-index: 5;
}
.P2 {
    display: none;
}
.down60 {
    position: absolute;
    height: 760px !important;
    bottom: 83px;
}
div[class*="long60"] {
    width: 40px;
    margin-left: 0px !important;
    margin-right: 20px !important;
    position: absolute;    /* absolut    ------ */
    top: 570px;
}
.long601 {
    left: 260px;
    width: 1090px !important;
}
.about_Me {
    font-size: 80px;
    font-weight: 600;
    transform: rotate(-90deg);
    color: #313131ea;
    letter-spacing: 3px;
    padding-left: 100px;
    position: absolute;
    left: -310px;
    top: 390px;
}
.myWork {
    float: left;
    width: 210px;
    position: absolute;
    top: 570px;
    margin-left: 60px;
    z-index: 1000;
}
.textAboutMe {
    margin-left: 35px;
    position: relative;
    top: 150px;
}
.textAboutMe h3 {
    font-weight: bold;
    word-spacing: 0px;
    width: 380px;
}
.textAboutMe h6 {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: 1px;
    width: 360px;
    margin: 20px 0;
}
/* ----------------------------------------------------------------------------- */
.container3 {
    position: absolute;
    left: 75px;
    top: 100px; /*same other containers*/
    height: 665px;
    width: 1090px;
    z-index: 3;
}
.P3 {
    display: none;
}
.my_Work {
    font-size: 80px;
    font-weight: 600;
    color: #313131ea;
    letter-spacing: 3px;
    position: absolute;
    top: 400px;
}
.long602 {
    width: 1075px !important;
    top: 492px !important;
    left: -500px;
}
.long603 {
    width: 60px !important;
    top: 492px !important;
    right: 30px;
    margin-right: 0px !important;
}
.down601 {
    position: relative;
    top: 492px;
    float: right;
    right: 49px !important;
    height: 260px !important;
}
.codingChallenge {
    float: left;
    width: 360px;
    position: absolute;
    top: 494px;
    margin-left: 590px;
}
.projectsContainer {
    width: 1070px;
    height: 460px;
    margin-left: 20px;
    position: absolute;
}
.projectText {
    box-sizing: border-box;
    width: 530px;
    height: 460px;
    margin: 0px 20px;
    display: inline-block;
    text-align: center;
    line-height: 420px;
}
.projects {
    width: 500px;
    height: 460px;
    float: right;
    position: relative;
}
div[class*="Pr"] {
    margin: 4px;
    float: right;
    background-color: #000000;
    border: 2px solid #000000 !important;
}
div[class*="Pr"]:hover {
    box-shadow: 0px 0px 10px #daa520;
    border: 2px solid #daa520 !important;
}
.Pr1 {
    width: 198px !important;
    height: 144px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
}
.Pr1 img {
    width: 194px !important;
    height: 140px !important;
}
div[class*="Pr"] h3 {
    padding: 3px 0;
    color: #1a1919;
    background-color: #daa520;
}
.Pr3 h3 {
    margin-top: 38%;
}
.Pr4 h3 {
    margin-top: 23%;
}
.Pr5 h3, .Pr2 h3 {
    margin-top: 27%;
}
.Pr1 h3, .Pr6 h3 {
    margin-top: 33%;
}
.Pr2 {
    width: 118px !important;
    height: 92px !important;
    margin-left: 50px !important;
    margin-top: 52px !important;
}
.Pr2 img {
    width: 114px !important;
    height: 88px !important;
}
.Pr3 {
    width: 168px !important;
    height: 148px !important;
    margin-right: 108px !important;
}
.Pr3 img {
    width: 164px !important;
    height: 144px !important;
}
.Pr4 {
    width: 188px !important;
    height: 108px !important;
    margin-bottom: 45px !important;
}
.Pr4 img {
    width: 184px !important;
    height: 104px !important;
}
.Pr5 {
    width: 238px !important;
    height: 144px !important;
    margin-right: 38px !important;
    margin-bottom: 0px !important;
}
.Pr5 img {
    width: 234px !important;
    height: 140px !important;
}
.Pr6 {
    width: 118px !important;
    height: 108px !important;
    position: relative;   
    bottom: 38px;
    z-index: 5;
}
.Pr6 img {
    width: 114px !important;
    height: 104px !important;
}

.test img {
    width:400px;
    height:300px;
    margin: 0 auto;
    display: block;
}
.test button {
    display: block;
}
/* ------------------------------------------------------------------------*/
.container4 {
    position: absolute;
    left: 75px;
    top: 100px;
    height: 665px;
    width: 1090px;
    z-index: 4;
}
.P4 {
    display: none;
}
.coding_Challenge {
    font-size: 80px;
    font-weight: 600;
    color: #313131ea;
    letter-spacing: 3px;
    position: absolute;
    top: 0px;
    left: 250px;
}
.long604 {
    width: 470px !important;
    top: 90px !important;
    left: -500px;
}
.long605 {
    width: 850px !important;
    top: 90px !important;
    right: 30px;
    margin-right: 0px !important;
}
.down603 {
    position: relative;
    top: -170px;
    float: right;
    right: 49px !important;
    height: 261px !important;
}
.contact {
    float: right;
    width: 250px;
    position: absolute;
    top: 92px;
    margin-left: -15px;
    z-index: 5;
}
.codingContainer {
    width: 985px;
    height: 350px;
    margin: 20px;
    position: absolute;
    top: 130px;
    left: 35px;
}
/* ------------------------------------------------------------------------*/
.container5 {
    position: absolute;
    left: 75px;
    top: 100px;
    height: 665px;
    width: 1090px;
    z-index: 4;
}
.P5 {
    display: none;
}
._contact {
    font-size: 80px;
    font-weight: 600;
    color: #313131ea;
    letter-spacing: 3px;
    position: absolute;
    top: 0px;
    left: 590px;
}
.long606 {
    width: 40px !important;
    top: 90px !important;
    right: 770px;
}
.long607 {
    width: 678px !important;
    top: 90px !important;
    right: -200px;
    margin-right: 0px !important;
}
.down604 {
    position: relative;
    top: -170px;
    float: left;
    left: 260px !important;
    height: 261px !important;
}
.back_to_top {
    float: right;
    width: 250px;
    position: absolute;
    top: 92px;
    margin-left: 319px;
    z-index: 5;
}
.contactContainer {
    width: 1085px;
    height: 450px;
    margin: 20px;
    position: absolute;
    top: 130px;
    left: 0px;
}