// Accordion Height
$a-height: 340px;

// Position text along bottom
$text-offset: $a-height - 90;

.accordion {
  font-family: sans-serif;
  width: 955px;
  float: right;
  height:$a-height;
  overflow:hidden;
  margin:20px;
  margin-right: 15px;

  ul {
    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {
      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:25%; // 6 into 100
      height:$a-height;
      background-repeat:no-repeat;
      background-position:center center;
      transition:all 500ms ease;
      background-color: #000;

      .div {
        
        display:block;
        overflow:hidden;
        width:100%;

        .a {
          
          display:block;
          height:$a-height;
          width:100%;
          background: rgba(0,0,0,.7);
          position:relative;
          z-index:3;
          margin-left: 15px;
          padding:10px 20px 15px 20px;
          box-sizing:border-box;          
          transition:all 200ms ease;

          * {
            // background: rgba(0,0,0,.7);
            opacity:0;
            margin:0;
            // width:100%;
            // text-overflow:ellipsis;
            position:relative;
            z-index:5;
            // white-space:nowrap;
            // overflow:hidden;
            text-shadow: none;
            -webkit-transform:translateX(-20px);
            transform:translateX(-20px);
            -webkit-transition:all 400ms ease;
            transition:all 400ms ease;
          }

          h2 {
            overflow:visible;
            // opacity: 1;
            text-overflow:clip;
            font-size:18px;
            font-weight: 500;
            letter-spacing: 3px;
            margin-bottom:2px;
            top: 100px;
            left:-233px;
            width: 437px;
            height: 25px;
            transform: rotate(-90deg);
            color: #faeb64;
            padding-left: 20px;
            padding-top: 6px;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 1;
          }
          
          p {
            position: absolute;
            top: 50px;
            left: 20px;
            font-size: 13.5px;
            width: 437px;
          }
          h5, h6, span {
            font-weight: normal;
            letter-spacing: 0px;
            word-spacing: 2px;
          }
          h6 {
            line-height: 1.4;
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 15px;
          }
        }

      }

    }
    
    // Background images
    li:nth-child(1) { 
        background-image:url('images/work1.jpeg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #000;
    }
    li:nth-child(2) { 
        background-image:url('images/work2.jpeg'); 
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #000;
    }
    li:nth-child(3) { 
        background-image:url('images/work3.jpeg'); 
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #000;
    }
    li:nth-child(4) { 
      background-image:url('images/work4.jpeg'); 
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-size: cover;
      border-right: 15px solid #000;
  }

    &:hover li,
    &:focus-within li { width:8%; }
    
    li:focus {
      outline: none;
    }

    // &:hover li:hover,
    // allow users to tab through active slides
    // li:focus,
    // &:focus-within li:focus {

    //   width:60%;

    //   .a {
        
    //     background: rgb(248, 183, 18, .4);
        
    //     * {
          
    //       opacity:1;
    //       -webkit-transform:translateX(0);
    //       transform:translateX(0);
        
    //     }
      
    //   }

    // }
    
    &:hover li {
      width: 8% !important;
      
      .a * { opacity: 0 !important; }
    }
    
    &:hover li:hover {
      width:60% !important;
      background-image: url(images/Workk.jpg);
      .a {
        
        background:rgba(0,0,0,.3);
        margin-left: 0px;
        padding-left: 10px;
        
        * {
          
          opacity:1 !important;
          -webkit-transform:translateX(0);
          transform:translateX(0);
  
        }
        h2 {
          top: 20px;
          left:13px;
          width: 600px;
          border-radius: 5px;
          text-align: center;
          color: #faeb64;
          background-color:rgba(0, 0, 0, 0.8) ;
        }      
      }
    }

  }

}

// Stack items
@media screen and (max-width: 600px) {
  
  // IE gets fussy if this isn't here
  body { margin:0; }
  
  .accordion {
    
    height:auto;
    
    ul,ul:hover {
      
      li,li:hover {
        
        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;
        
        -webkit-transition:none;
        transition:none;
        
      }
      
    }
    
  }

}
