.accordion {
  font-family: sans-serif;
  width: 955px;
  float: right;
  height: 340px;
  overflow: hidden;
  margin: 20px;
  margin-right: 15px;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 25%;
  height: 340px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  background-color: #000;
}
.accordion ul li .div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li .div .a {
  display: block;
  height: 340px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 3;
  margin-left: 15px;
  padding: 10px 20px 15px 20px;
  box-sizing: border-box;
  transition: all 200ms ease;
}
.accordion ul li .div .a * {
  opacity: 0;
  margin: 0;
  position: relative;
  z-index: 5;
  text-shadow: none;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li .div .a h2 {
  overflow: visible;
  text-overflow: clip;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 2px;
  top: 100px;
  left: -233px;
  width: 437px;
  height: 25px;
  transform: rotate(-90deg);
  color: #faeb64;
  padding-left: 20px;
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.accordion ul li .div .a p {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 13.5px;
  width: 437px;
}
.accordion ul li .div .a h5, .accordion ul li .div .a h6, .accordion ul li .div .a span {
  font-weight: normal;
  letter-spacing: 0px;
  word-spacing: 2px;
}
.accordion ul li .div .a h6 {
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.accordion ul li:nth-child(1) {
  background-image: url("images/work1.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 15px solid #000;
}
.accordion ul li:nth-child(2) {
  background-image: url("images/work2.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 15px solid #000;
}
.accordion ul li:nth-child(3) {
  background-image: url("images/work3.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 15px solid #000;
}
.accordion ul li:nth-child(4) {
  background-image: url("images/work4.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 15px solid #000;
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li {
  width: 8% !important;
}
.accordion ul:hover li .a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
  background-image: url(images/Workk.jpg);
}
.accordion ul:hover li:hover .a {
  background: rgba(0, 0, 0, 0.3);
  margin-left: 0px;
  padding-left: 10px;
}
.accordion ul:hover li:hover .a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li:hover .a h2 {
  top: 20px;
  left: 13px;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  color: #faeb64;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}

/*# sourceMappingURL=work.css.map */
