// Accordion Height
$a-height: 340px;

// Position text along bottom
$text-offset: $a-height - 90;

.accordion {
  font-family: Arial, Helvetica, sans-serif;
  width:690px;
  float: left;
  height:$a-height;
  overflow:hidden;
  margin:20px;
  margin-right: 0px;

  ul {

    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {

      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:25%; // 6 into 100
      height:$a-height;
      background-repeat:no-repeat;
      background-position:center center;
      transition:all 500ms ease;

      .div {
        
        display:block;
        overflow:hidden;
        width:100%;

        .a {
          
          display:block;
          height:$a-height;
          width:100%;
          background: rgba(0,0,0,.7);
          position:relative;
          z-index:3;
          padding:10px 20px 15px 20px;
          box-sizing:border-box;          
          transition:all 200ms ease;

          * {
            background: rgba(0,0,0,.7);
            opacity:0;
            margin:0;
            width:100%;
            // text-overflow:ellipsis;
            position:relative;
            z-index:5;
            // white-space:nowrap;
            // overflow:hidden;
            text-shadow: none;
            -webkit-transform:translateX(-20px);
            transform:translateX(-20px);
            -webkit-transition:all 400ms ease;
            transition:all 400ms ease;

          }

          h2 {
            overflow:visible;
            opacity: 1;
            text-overflow:clip;
            font-size:20px;
            text-transform:uppercase;
            margin-bottom:2px;
            top: 100px;
            left:-227px;
            width: 437px;
            transform: rotate(-90deg);
            color: #0a95aa;
            background-color: rgba(0, 0, 0, 0.7);
          }
          
          p {
            position: absolute;
            top: 50px;
            left: 20px;
            font-size: 13.5px;
            width: 437px;
          }
          h5, h6, span {
            font-weight: normal;
            letter-spacing: 0px;
            word-spacing: 2px;
          }
          h5 {
            font-weight: 700;
            color: #cac032;
            font-size: 16px;
            margin-bottom: 10px;
          }
          h6 {
            line-height: 1.4;
            font-size: 14px;
            margin-bottom: 10px;
            // width: 80%;
          }
          span {
            color: #f6e3d2;
            font-size: 14px;
            background: rgba(0,0,0,.7) !important;
          }
          .topH5 {
            margin-top: 50px;
          }
        }

      }

    }
    
    // Background images
    li:nth-child(1) { 
        background-image:url('images/work1.jpeg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #0c141a;
    }
    li:nth-child(2) { 
        background-image:url('images/work2.jpeg'); 
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #0c141a;
    }
    li:nth-child(3) { 
        background-image:url('images/work4.jpeg'); 
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 15px solid #0c141a;
    }
    li:nth-child(4) { 
      background-image:url('images/work5.jpeg'); 
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-size: cover;
      border-right: 15px solid #0c141a;
  }

    &:hover li,
    &:focus-within li { width:8%; }
    
    li:focus {
      outline: none;
    }

    // &:hover li:hover,
    // allow users to tab through active slides
    // li:focus,
    // &:focus-within li:focus {

    //   width:60%;

    //   .a {
        
    //     background: rgb(248, 183, 18, .4);
        
    //     * {
          
    //       opacity:1;
    //       -webkit-transform:translateX(0);
    //       transform:translateX(0);
        
    //     }
      
    //   }

    // }
    
    &:hover li {
      width: 8% !important;
      
      .a * { opacity: 0 !important; }
    }
    
    &:hover li:hover {
      width:60% !important;

      .a {
        
        background:rgba(0,0,0,.7);
        
        * {
          
          opacity:1 !important;
          -webkit-transform:translateX(0);
          transform:translateX(0);
  
        }
        h2 {
          top: 10px;
          left:0px;
        }      
        p {
          position: absolute;
          top: 50px;
          left: 20px;
        }
      }
    }

  }

}

// Stack items
@media screen and (max-width: 600px) {
  
  // IE gets fussy if this isn't here
  body { margin:0; }
  
  .accordion {
    
    height:auto;
    
    ul,ul:hover {
      
      li,li:hover {
        
        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;
        
        -webkit-transition:none;
        transition:none;
        
      }
      
    }
    
  }

}
